<!DOCTYPE html>
<HTML LANG="KO">

<HEAD>
    <title>{% block title%} Daeran.net{% endblock %}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/5b3a7428a6.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</HEAD>
<body>
{% comment %} 신규 nav바 {% endcomment %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary ">
  <a class="navbar-brand" href="{% url 'main' %}">Daeran.net</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'introduce' %}">소개</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'boardlist' 'notice' %}">공지사항</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          대란게시판
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'boardlist' 'Ppompu' %}">뽐뿌</a>
          <a class="dropdown-item" href="{% url 'boardlist' 'Ruriweb' %}">루리웹</a>
          <a class="dropdown-item" href="{% url 'boardlist' 'Clien' %}">클리앙</a>
          {% comment %} <a class="dropdown-item" href="{% url 'commlist' 'freeboard' %}">대화형게시판</a> {% endcomment %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">공사중..</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'boardlist' 'freeboard' %}">자유게시판</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0" id="navbarColor01">
        {% if user.username %}
            <A href="{% url 'password_change' %}">{{ user.last_name }} 님</A> / 
            <a href="{% url 'logout' %}">로그아웃</a>
        {% else %}
            <a href="{% url 'login' %}">로그인</a> / 
            <a href="{% url 'register' %}">회원가입</a>
        {% endif %}
    </div>
  </div>
</nav>
<div class="mx-auto" style="width: 89em;">
{% block content %}{% endblock %}
    {% block script %}{% endblock %} {% comment %}  script는 </body>위가 가장 빠르다 {% endcomment %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js">
    {% load static %}
    <LINK REL='STYLESHEET' HREF="{% static 'boardapp/assets/css/main.css' %}" />
    
</body>
</HTML>