{% extends "base.html" %}

{% block title%}{{articles.title}}{% endblock %}

{% block script %}
{% load static %}
<script src="{% static 'boardapp/assets/js/boards.js'%}"></script>
<script>

var b1 = document.getElementById("writeSend");
var b2 = document.getElementById("writeCancle");

b1.addEventListener("click", function(){writeSend()}, false);
b2.addEventListener("click", function(){location.href='{% url 'commlist' board_category.category_code %}'}, false);

{% comment %} onClick보다는 addEventListener를 사용해야 한다  {% endcomment %}
</script>
{% if error_flag == True %}
<script>alert('게시물 등록에 실패했습니다')</script>
{% endif %}
{% endblock %}

{% block content %}
<div class="row block-center board">
    <div class="col-8">
        {% comment %} 게시판 카테고리 표시 {% endcomment %}
        <div class="row" style="height: 50px">
            <div class="col-12"><h3>{{board_category.category_name}}</h3></div>
        </div>
        {% comment %} 게시판 글쓰기 표시 {% endcomment %}
        {% if user.username and user.is_superuser >= board_category.authority %}
        <div class="row block-center board">
    <div class="col-10">
        <form action="." method="POST" id="write_form" enctype="multipart/form-data">
        <input type="hidden" name="category_id" value="{{ board_category.id }}" />
        {% csrf_token %}
        <div class="row">
            <div class="col-12"><h2>{{board_category.category_name}} - 게시물 작성</h2></div>
        </div>
        <hr class="my-3">
        <div class="row">
            <div class="col-1 right"><p>작성자</p></div>
            <div class="col-11"><p>{{ user.last_name }}</p></div>
        </div>
        <hr class="my-1">
        <div class="row">
            <div class="col-1 right"><p>제목</p></div>
            <div class="col-11"><input type="text" name="title" id="title" class="form-control" placeholder="작성할 제목을 입력해 주세요" /></div>
        </div>
        <div class="row">
            <div class="col-1 right"><p class="middle">내용</p></div>
            <div class="col-11"><textarea name="content" id="content" class="form-control" rows="8" placeholder="작성할 내용을 입력해 주세요"></textarea></div>
        </div>
        <hr class="my-3">
        <div class="row">
            <div class="col-1 right"><p class="middle">이미지</p></div>
            <div class="col-11"><input type="file" name="img_file" accept="image/gif, image/jpeg, image/png" /></div>
        </div>
        <hr class="my-5">
        <div class="row">
            <div class="col-12 center">
                <button type="button"  value="작성" id="writeSend" class="btn btn-primary">작성</button> 
                <button type="button"  value="수정" id="writeCancle" class="btn btn-secondary">취소</button>
            </div>
        </div>
        </form>
    </div>
</div>
        {% comment %} <div class="write-box"> 
            <form action="." method="POST" id="write_form" enctype="multipart/form-data">
            {% comment %} action="."는 자기 자신 페이지를 가리킨다. 리다이렉션 X  
            {% csrf_token %}
            <div class="row">
                <div class="col-1 right"><p>글쓴이</p></div>
                <div class="col-11"><p>{{ user.last_name }}</p></div>
            </div>
            <div class="row">
                <div class="col-1 right"><p>제목</p><div>
                <div class="col-11">
                    <input type="text" name="title" id="title" class="form-width-90">
                </div>
            </div>
            <div class="row">
                <div class="col-1 right"><p class="middle">내용</p></div>
                <div class="col-11">
                    <textarea name ="content" id = "content" class="form-width-90"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="col-1 right"><p class="middle">이미지</p></div>
                <div class="col-11">
                    <input type="file" name="img_file" accept="image/gif, image/jpeg, image/png","image/jpg" />
                </div>
            </div>
            <div class="row">
                <div class="col-12 center">
                    <input type="button" id="write" value="등록">
                    <input type="reset" value="취소" />
                </div>
            </div>
            </form>
        </div>{% endcomment %}
        {% endif %}

        {% comment %} 게시판 목록 표시 {% endcomment %}
        {% for article in articles %}
            {% comment %} 게시판 내용 {% endcomment %}
            {% comment %} 신 버전 {% endcomment %}
            <div class="row block-center board">
    <div class="col-10">
        <hr class="my-3">
        <div class="row">
            <hr class="my-5">
            <div class="col-6"><h1>{{article.title}}</div>
            <div class="col-1">{{ article.user.last_name }}</div>
            <div class="col-2">조회 수 : {{ article.view_count }}</div>
            <div class="col-3">{{ article.registered_date|date:"Y-m-d H:i:s" }}</div>
        </div>
        <div class="row">
            <div class="col-12 view-content">
                <p class="content-box">{{ article.content }}</p>
                {% if article.image %}<img src="{{ article.image.url }}" />
                {% endif %}
            </div>
        </div>
        {% if article.user == user %}
            <form action="{% url 'boarddeleteres' %}" method="POST" id="delete_form" data-id="{{article.id}}">
                <input type="hidden" name="article_id" value="{{article.id}}" />
                <input type="hidden" name="referer" value="comm" />
                {% csrf_token %}
                <p>
                <span style="cursor:pointer" onClick="modifyClick({{ article.id }})">수정</span>
                <span style="cursor:pointer" onClick="deleteClick({{ article.id }})">삭제</span>
                </p>
            </form>
        {% endif %}
        <hr class="my-3">
        {% comment %} 댓글  {% endcomment %}
        {%  if user.username %} 
          <div class="write-box">
                <form action="" method="POST" name="reply_form" data-type="reply" data-id="{{object.id}}">
                    <input type="hidden" name="id" value="{{object.id}}" />
                    <input type="hidden" name="level" value="0" />
                    {% csrf_token %}
                    <div class="form-group row">
                        <textarea class="form-control col-6" name="content" textarea-id="{{object.id}}" rows="3"></textarea>
                        <div class="col-1">
                        <input type="button" onClick="replyWriteSend({{article.id}})" value="등록" class="form-width-90" />
                        <button type="button" value="등록" id="replySend" class="btn btn-primary">등록</button>
                        </div>
                    </div>
                </form>
            {% endif %} 
            {% comment %} 신 댓글 {% endcomment %}
            {% comment %} 구 버전 {% endcomment %}
            <div class="article-view" data-id="{{article.id}}">
                <div class="row border-top-line">
                    <div class="col-12"><h2>{{article.title}}</h2></div>
                </div>
                <div class="row border-bottom-line">
                    <div class="col-6"><h4>
                        <span style="padding-right: 30px">{{ article.user.last_name }}</span>
                        <span>{{ article.registered_date|date:"Y-m-d H:i:s" }}</span></h4>
                    </div>
                    <div class="col-6 right">
                        {% if article.user == user %}
                        <form action="{% url 'boarddeleteres' %}" method="POST" data-id="{{article.id}}">
                            <input type="hidden" name="article_id" value="{{article.id}}" />
                            <input type="hidden" name="referer" value="comm" />
                            {% csrf_token %}
                            <p>
                            <span style="cursor:pointer" onClick="modifyClick({{ article.id }})">수정</span>
                            <span style="cursor:pointer" onClick="deleteClick({{ article.id }})">삭제</span>
                            </p>
                        </form>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 view-content-comm">
                        <p>{{ article.content }}</p>
                        {% if article.image %}<img src="{{ article.image.url }}" />
                        {% endif %}                  
                    </div>
                </div>
            </div>
            {% comment %}  <div class="article-like" data-id="{{article.id}}"></div>
            {% comment %} 게시판 추천 수 {% endcomment %}
           {% comment %} <div class="row">
                <div class="col-12 article-reply" data-id="{{article.id}}"></div>
            </div>{% endcomment %}
            {% comment %} 게시판 댓글 입력 표시 {% endcomment %}
        {%  if user.username %} 
            <div class="write-box">
                <form action="" method="POST" data-type="reply" data-id="{{article.id}}" />
                    <input type="hidden" name="id" value="{{ article.id }}" />
                    <input type="hidden" name="level" value="0" />
                    {% csrf_token %}
                    <div class="row height-80 center">
                        <div class="col-11">
                            <textarea name="content" class="form-width-90"></textarea>
                        </div>
                        <div class="col-1">
                            <input type="button" onClick="replyWriteSend({{article.id}})" value="등록" class="form-width-90" />
                        </div>
                    </div>
                </form>
            </div>
            {% endif %} 
        {% comment %} 게시물이 없을 시 {% endcomment %}
        {% empty %}
            <div class="row">
                <div class="col-12 center">
                    <p>현재 등록된 게시물이 없습니다.</p>
                </div>
            </div>
        {% endfor %}
        {% comment %} 페이지 표시 {% endcomment %}
        <div class="row">
            <div class="col-12" margin-10 center">
                {% if articles.has_previous %}
                <span>
                    <a href="?page=1">&laquo; 처음</a>
                    <a href="?page={{ articles.previous_page_number }}">이전</a>
                {% endif %}

                {% for page in page_list %}
                    {% if page == articles.number %}
                        {{ page }}
                    {% else %}
                        <a href="?page={{ page }}">{{ page }}</a>
                    {% endif %}
                {% endfor %}

                {% if articles.has_next %}
                    <a href="?page={{ articles.next_page_number }}">다음</a>
                    <a href="?page={{ articles.paginator.num_pages }}">마지막 &raquo;</a>
                {% endif %}
                </span>
            </div>
        </div>
    </div>
</div>
<div class="height-100"></div>

{% endblock %}

