{% extends "base.html"%}

{% block title %}Login{% endblock %}

{% block script %}
    {% load static %}
        <script src = "{% static 'boardapp/assets/js/login.js'%}"></script>
<script>
var b1 = document.getElementById("login");
var b2 = document.getElementById("register");

b1.addEventListener("click", function(){login()}, false);
b2.addEventListener("click", function(){location.href='{% url 'register' %}'}, false);
</script>
{% endblock %}

{% block content %}
{% if form.errors %}
<script>alert("ID와 비밀번호를 올바르게 입력해 주시기 바랍니다.");</script>
{% endif %}

<div style="height: 70px;"></div>
<div class="row block-center">
    <div class="card-box col-5">
    <form id="login_form" action="." method="POST">{% csrf_token %}
        <div class="row">
            <div class="col-12 center"><h1>Login</h1></div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-3">ID</div>
            <div class="ml-1 col-8">
                <input type="text" name="username" id="username" size="12" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-3">Password</div>
            <div class="ml-1 col-8">
                <input type="password" name="password" id="password" size="12" class="form-control" />
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-12 center">
                <button type="button"  value="로그인" id="login" class="btn btn-primary">로그인</button> 
                <button type="button"  value="회원가입" id="register" class="btn btn-info">회원가입</button>
            </div>
        </div>
        <hr class="my-3">
        <div class="row">
            <div class="col-12">
             <h5>아이디가 없으십니까? 회원가입을 진행해 주시기 바랍니다.</h5>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}

