{% extends "base.html" %}

{% block title %}회원정보 조회{% endblock %}

{% block script %}
{% load static %}
<script src="{% static 'boardapp/assets/js/user.js'%}"></script>
<script>
var b1 = document.getElementById("changePassword");
var b2 = document.getElementById("changePasswordCancle");

b1.addEventListener("click", function(){changePassword()}, false);
b2.addEventListener("click", function(){window.history.back()}, false);
</script>
{% endblock %}

{% block content %}

<div class="row block-center">
    <div class="card-box col-6">
    <form id="password_change_form" action="." method="POST">
    {% csrf_token %}
        <div class="row">
            <div class="col-12"><h2>회원정보 조회/ 비밀번호 변경</h2></div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="ml-1 col-11">
                <h4>ID:<span class="margin-left-10">{{ user.username }}</h4></span>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <h5 class="col-12">{{ form.old_password.label_tag }}
            <span class="margin-left-10">{{ form.old_password }}</span>
            </h5>
        </div>
        <div class="row">
            <h5 class="col-12">{{ form.new_password1.label_tag }}
            <span class="margin-left-10">{{ form.new_password1 }}</span>
            </h5>
        </div>
        <div class="row">
            <h5 class="col-12">{{ form.new_password2.label_tag }}
            <span class="margin-left-10">{{ form.new_password2 }}</span>
            </h5>
        </div>
        <hr class="my-4">
        <span>{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <div class="alert alert-danger">
            <strong>{{ error|escape }}</strong>
        </div>
    {% endfor %}
{% endif %}</span>
        <div class="row">
            <div class="ml-1 col-11">
                이름: <span class="margin-left-10">{{ user.last_name }}</span>
            </div>
        </div>
        <div class="row">
            <div class="ml-1 col-11">
                전화번호: <span class="margin-left-10">{{ user.phone }}</span>
            </div>
        </div>
        <div class="row">
            <div class="ml-1 col-11">
                e-mail: <span class="margin-left-10">{{ user.email }}</span>
            </div>
        </div>
        <div class="row">
            <div class="ml-1 col-11">
                생년월일: <span class="margin-left-10">{{ user.date_of_birth | date:"Y년 n월 d일"}}</span>
            </div>
        </div>
        <hr class="my-4">
        <div class="row">
            <div class="col-12 center">
                <button type="button"  value="비밀번호 변경" id="changePassword" class="btn btn-primary">비밀번호 변경</button> 
                <button type="button"  value="취소" id="changePasswordCancle" class="btn btn-secondary">취소</button>
            </div>
        </div>
    </form>
    </div>
</div>
{% endblock %}
