{% extends "base.html"%}

{% block script %}
<script>
var b1 = document.getElementById("loginPage");
var b2 = document.getElementById("mainPage");

b1.addEventListener("click", function(){location.href='{% url 'login' %}'}, false);
b2.addEventListener("click", function(){location.href='{% url 'main' %}'}, false);
</script>
{% endblock%}

{% block title %}회원가입 완료{%endblock%}

{%block content %}
    <div class="jumbotron">
  <h1 class="display-3">Welcome!</h1>
  <p class="lead">회원가입이 완료되었습니다.</p>
  <hr class="my-4">
  <p>본 사이트의 서비스를 이용할 수 있습니다.</p>
  <p class="lead">
    <button type="button"  value="로그인" id="loginPage" class="btn btn-primary">로그인</button> 
    <button type="button"  value="메인화면" id="mainPage" class="btn btn-secondary">메인화면</button>
  </p>
</div>
{% endblock %}
